.start{
    background-image: url("images/back2.jpg");
   
}



.volume{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 8%;
    top: 90%;
}

.volume-text{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 8%;
    top: 87%;
    font-size:25px;
    margin: 0%;
    font: bold;
    
}

.start-btn{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    font-size: 60px;
    width: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: #ff944d;
    transition-duration: 0.4s;
}
.start-btn:hover{
    background-color: black;
    color: rgb(255, 255, 255);
}

.bg-music{
    position: absolute;
    top: 64%;
    left: 0%;
    right: 0%;
    margin: 0% auto;
}

.img{
    width: 90px;
    height: 73px;
    background-color: transparent;
    color: #fff;
    font-size: 78px;
    border: none;
    display: block;
    margin: 0% auto;
    opacity: .7;
    transition: all linear .2s ;
}

.img:hover{
    opacity: 1;

}

.volume-off{
    display: none;
}